* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
	background-color: rgb(172, 166, 144);
	font-family: courier;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	color: lightgrey;
	background-color: teal;
	font-weight: bolder;
	font-size: xx-large;
	padding: 1rem;
}

.mid-body {
	display: grid;
	grid-template-columns: 90% 10%;
	height: 100%;
}

main {

	display: grid;
	grid-template-columns: 60% 40%;
}

aside {
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.style-buttons {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.style-buttons button {
	border: solid 1px rgb(90, 52, 90);
	width: 60%;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	background-color: lightgrey;
	font-family: courier;
	width: 35%;
	padding: 5%;
	margin: 5%;
	border: none;
	border-radius: 5px;
}

.tag {
	background-color: rgb(133, 55, 55);
	border-radius: 15px;
	height: 20rem;
	width: 30rem;
	margin: 5%;
	justify-self: right;
	align-self: center;
	display: grid;
	grid-template-rows: 1fr 1.5fr .5fr;
}

.top, .middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.big-text {
	color: rgb(172, 166, 144);
	font-size: xx-large;
	font-weight: bolder;
	letter-spacing: 5px;
	margin: .5rem;
}

.line-break {
	background-color: lightgrey;
	width: 75%;
	height: 2px;
}

.small-text {
	color: rgb(172, 166, 144);
	letter-spacing: 1px;
	margin: .5rem;
}

.middle {
	
}

#name-box {
	font-size: xx-large;
	font-weight: bold;
	height: 100%;
	width: 100%;
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
}

#name-input {
	height: 100%;
	width: 100%;
	background-color: lightgrey;
	border: 1.5px dashed teal;
	text-align: center;
	font-size: xx-large;
	font-family: 'Courier New', Courier, monospace;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	background-color: rgb(90, 52, 90);
	color: lightgrey;
	padding: 1rem;
}